@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,400i,700,700i');

.TodoApp {
  font-family: 'Ubuntu', sans-serif;
  background-color: #01508A;
  color: #DADCDB;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100vw;
  height: 100vh;
}